<%= stylesheet_link_tag 'new', :media => "all" %>

<div class="post-container">
  <div class="discription">
    <p class="title">予定投稿フォーム</p>
    <p>Ex)9:00-9:30 朝ごはん</p>
  </div>
  <%= form_for @post do |f| %>
    <div class="field">
      <%= f.text_field :title, :size => 140 %>
    </div>
    <%= f.submit "投稿する" %>
  <% end %>
</div>